.DS_Store
plots/.DS_Store
plots/files/.DS_Store
plots/files/losses/.DS_Store
plots/files/tesslcs/.DS_Store
plots/files/testingcsvs_section5/.DS_Store
plots/files/testingcsvs_section5/6_milliquas_yesr_norm_min_all/.DS_Store
plots/files/testingcsvs_section5/6_milliquas_yesr_norm_nan_all/.DS_Store
butterpy-simulations/.DS_Store
zenodo_files_delete/tableb2.dat
zenodo_files_delete/tableb1.dat
zenodo_files_delete/galex_crossmatched_schochetrotators.csv
plots/reportable.csv
plots/asassn_variables_x.csv
plots/allgaiadata.parq
plots/1753968185448O-result.vot
plots/.DS_Store
plots/spinspotter_by_star.csv
plots/0fullpred.csv
