.DS_Store
plots/.DS_Store
plots/files/.DS_Store
plots/files/losses/.DS_Store
plots/files/tesslcs/.DS_Store
plots/files/testingcsvs_section5/.DS_Store
plots/files/testingcsvs_section5/6_milliquas_yesr_norm_min_all/.DS_Store
plots/files/testingcsvs_section5/6_milliquas_yesr_norm_nan_all/.DS_Store
butterpy-simulations/.DS_Store
